body {
  min-width: 320px;
  font-family: $opensans;
  font-size: $fs;
  line-height: $lh;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  @include visually-hidden;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 10.5px;
    line-height: 18.2px;
  }
}
