// ---------colors------------//
//@bg-blue:        #0c0f1d;
//@gray:           #666666;


// ---------fonts------------//

$fs: 7.6px;
$lh: 12px;
$opensanslight: "Open Sans Light", "Arial", sans-serif;
$opensans: "Open Sans", "Arial", sans-serif;
$opensansbold: "Open Sans Bold", "Arial", sans-serif;
$dosis: "Dosis", "Arial", sans-serif;


// ---------MQ------------//

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;