.album {
  text-align: left;
  
  &--bg {
    position: relative;
    padding: 0;
    margin-bottom: 26px;
    min-height: 211px;
    overflow: hidden;
    
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 192px 221px;
      background-position: top center;
      opacity: 0.24;
      z-index: -1;
      transition: 0.4s;
    }
    
    &:hover::before {
      opacity: 0.28;
      transition: 0.3s;
    }
    
    &::after {
      content: "";
      position: absolute;
      bottom: -26px;
      right: 0;
      font-family: $opensansbold;
      font-size: 41px;
      line-height: 71px;
      opacity: 0.17;
    }
  }
  
  &--bg1 {
    &::before {
      background-image: url("../img/album1.jpg");
    }
    
    &::after {
      content: "01";
    }
  }
  
  &--bg2 {
    &::before {
      background-image: url("../img/album2.jpg");
    }
    
    &::after {
      content: "02";
    }
  }
  
  &--bg3 {
    &::before {
      background-image: url("../img/album3.jpg");
    }
    
    &::after {
      content: "03";
    }
  }
  
  &--bg4 {
    &::before {
      background-image: url("../img/album4.jpg");
    }
    
    &::after {
      content: "04";
    }
  }
  
  &--bg5 {
    &::before {
      background-image: url("../img/album5.jpg");
    }
    
    &::after {
      content: "05";
    }
  }
  
  &--bg6 {
    &::before {
      background-image: url("../img/album6.jpg");
    }
    
    &::after {
      content: "06";
    }
  }
  
  &__descr-wrapper {
    width: 260px;
    padding: 14px 20px 0 18px;
    margin: 0 auto;
    margin-bottom: 18px;
    background-color: #f5f6f6;
  }
  
  &__year {
    font-family: $opensansbold;
//    font-size: 7.6px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  &__line {
    margin: 0;
    border: none;
    height: 1px;
    background-color: black;
  }
  
  &__line--width {
    width: 196px;
  }
  
  &__title {
    margin-top: 4px;
    font-family: $opensansbold;
    font-size: 7.6px;
    text-transform: uppercase;
  }
  
  &__title--white {
    color: #ffffff;
  }
  
  &__info {
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.018em;
  }
  
  &__info--tours {
    margin-top: 35px;
  }
  
  &__info--margin {
    margin-bottom: 16px;
  }
  
  &__descr {
    letter-spacing: 0.018em;
    color: #aaaaaa;
    text-align: justify;
  }
  
  &__descr--tours {
    width: 200px;
    text-align: left;
  }
  
  &__descr--left {
    text-align: left;
  }
  
  &__footer-wrap {
    display: flex;
    align-items: flex-end;
    margin-top: 28px;
    
  }
  
  &__play-btn {
    margin: 0 auto;
    margin-top: 23px;
  }
  
  &__buy-btn {
    margin-top: 51px;
  }
  
  &__itunes-btn {
    margin-top: 0;
    
    &.btn::before {
      right: 17px;
    }
  }
  
  &__item {
    padding: 15px 22px 12px 23px;
  }
}

@media (min-width: $tablet-width) {
  .album {
    
    &__year {
      letter-spacing: 0.018em
    }
    
    &__line {
      margin-top: 5px;
    }
    
    &__title {
      margin-top: 1px;
      margin-bottom: 27px;
      font-size: 10.5px;
    }
    
    &__title--white {
      margin-bottom: 30px;
    }
    
    &__info {
      font-size: 17px;
      letter-spacing: 0.018em;
      
      
      &--letter-space {
        text-align: justify;
        font-size: 17.25px;
      }
      
      &--line-height {
        line-height: 26.45px;
      }
      
      &--tours {
        margin-top: 56px;
        margin-bottom: 13px;
      }
    }
    
    &__info--margin {
      margin-top: 30px;
      margin-bottom: 25px;
    }
    
    &__descr {
      font-size: 10.5px;
      letter-spacing: 0.01em;
      line-height: 19px;
    }
    
    &__descr--tours {
      width: 88.6567%;
      letter-spacing: 0.018em;
    }
    
    &__buy-btn {
      margin-top: 20px;
    }
    
    &__descr-wrapper {
      width: 100%;
      margin-bottom: 29px;
      padding: 15px 25px 0 26px;
      box-sizing: border-box;
    }
    
    &__footer-wrap {
      margin-top: 42px;
    }
    
    &--bg {
      width: 48.5757%;
      min-height: 321px;
      margin-bottom: 15px;
      
      &::before {
        background-size: cover;
      }
      
      &::after {
        bottom: -21px;
        right: 8px;
        font-size: 62.5px;
      }
    }
    
    &--bg1 {
      &::before {
        background-image: url("../img/album-tablet1.jpg");
      }
    }
    
    &__item {
      padding: 21px 27px 43px 26px;
    }
  }
}