.btn {
  display: block;
  width: 98px;
  padding: 7px 0 9px;
  font-family: $opensansbold;
  color: white;
  background-color: #c9c2ca;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  
  &--bg {
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  &--bg1 {
    background-image: url("../img/btn-mobile-bg1.jpg");
  }
  
  &--bg2 {
    background-image: url("../img/btn-mobile-bg2.jpg");
    color: black;
  }
  
  &--bg3 {
    background-image: url("../img/btn-mobile-bg3.jpg");
    color: black;
  }
  
  &--bg-transp {
    position: relative;
    padding: 9px 7px 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.44);
    background-color: transparent;
    font-family: $opensansbold;
    font-size: 7px;
    color: black;
    text-transform: none;
    box-sizing: border-box;
    
    &::before {
      content: "";
      position: absolute;
      top: 11px;
      right: 21px;
      width: 3px;
      height: 6px;
      background-image: url("../img/icon-arrow-next.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}