.contact-form {
  width: 69.0909%;
  
  &__field-wrap {
    position: relative;
    margin-bottom: 18px;
  }
  
  &__field-wrap--no-mb {
    margin-bottom: 10px;
  }
  
  &__label {
    position: absolute;
    top: 9px;
    left: 0;
    line-height: 0.018em;
    color: #7a8083;
  }
  
  &__text-field {
    min-height: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 0.5px solid #000000;
    line-height: 18px;
    background-color: transparent;
  }
  
  &__textarea {
    height: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 0.5px solid #000000;
    line-height: 18px;
    background-color: transparent;
    resize: none;
    
    &::-ms-clear {
      display: none;
    }
  }
  
  &__btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: $opensansbold;
    font-size: 10px;
    line-height: 12.25px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  
  .contact-form {
    
    &__field-wrap {
      margin-bottom: 33px;
      
      &--no-mb {
        margin-bottom: 17px;
      }
    }
    
    &__label {
      font-size: 10.35px;
    }
    
    &__text-field {
      line-height: 21px;
      min-height: 21px;
    }
    
    &__textarea {
      line-height: 21px;
      min-height: 21px;
    }
    
    &__btn {
      font-size: 14.79px;
    }
  }
}

@media (min-width: $desktop-width) {
  
  .contact-form {
    
    &__field-wrap {
      margin-bottom: 44px;
      
      &--no-mb {
        margin-bottom: 22px;
      }
    }
    
    &__label {
      top: 3px;
      font-size: 14px;
      line-height: 24.27px;
    }
    
    &__text-field {
      font-size: 14px;
      line-height: 30px;
      min-height: 30px;
    }
    
    &__textarea {
      font-size: 14px;
      line-height: 30px;
      min-height: 30px;
    }
    
    &__btn {
      font-size: 20px;
      line-height: 24.27px;
    }
  }
}