.hist-slider {
  position: relative;
  overflow: hidden;
  
  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 505px;
    left: calc(50% - 250px);
  }
  
  &__toggle {
    padding: 0 10px;
    border: none;
    font-family: $dosis;
    font-size: 17.745px;
    line-height: 29.635px;
    letter-spacing: 0.118em;
    color: rgba(0, 0, 0, 0.28);
    background-color: transparent;
    text-transform: uppercase;
    box-sizing: border-box;
    
    &--active {
      position: relative;
      width: 159px;
      color: #575a59;
      
      &::before, &::after {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        top: 50%;
        left: 20px;
        background-color: #575a59;
        border-radius: 50%;
        transform: translateY(-50%);
      }
      
      &::after {
        left: inherit;
        right: 20px;
      }
    }
  }
  
  &__list {
    @include clear-list;
    padding-top: 40px;
  }
  
  &__item {
    margin: 0 auto;
    padding-left: 8px;
    width: 110px;
    font-size: 7px;
    line-height: 9.7px;
    color: #5a5a58;
  }
}

@media (min-width: $tablet-width) {
  .hist-slider {
    
    &__controls {
      width: 1324px;
      left: calc(50% - 664px);
    }
    
    &__toggle {
      position: relative;
      width: 137px;
      font-size: 26.5px;
      line-height: 44.28px;
      
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -111px;
        width: 109.5px;
        height: 1px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.28);
      }
      
      &--line-before::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -111px;
        width: 109.5px;
        height: 1px;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.28);
      }
      
      &--active::before,
      &--active::after {
        width: 6px;
        height: 6px;
        left: -24px;
        cursor: default;
      }
        
      &--active::after {
        left: inherit;
        right: -20px;
      }
    }
    
    &__list {
      padding-top: 7.6823%;
    }
    
    &__item {
      width: 160px;
      padding-left: 4px;
      font-size: 10.5px;
      line-height: 14.4px;
    }
  }
}