.page-footer {
  min-height: 450px;
  background: url("../img/contact-mobile-bg.jpg") 22% top no-repeat;
  background-size: cover;
  text-align: left;
  
  &__title {
    display: block;
    color: #454545;
    margin: 0;
    position: relative;
    font-family: "Dosis","Arial",sans-serif;
    font-size: 25.25px;
    font-weight: 400;
    line-height: 29.64px;
    letter-spacing: .118em;
    text-transform: uppercase;
    z-index: 1;
      
    &::before {
      content: "";
      position: absolute;
      width: 90.909%;
      height: 1px;
      left: 0;
      top: 50%;
      background-color: #000;
      z-index: -1;
    }
  }
  
  &__descr {
    margin-bottom: 3px;
    margin-top: 9px;
    padding: 0;
    letter-spacing: .018em;
    text-align: left;
    font-size: 7.6px;
    line-height: 12px;
    color: #7a8083;
  }
  
  &__wrap {
    width: 73.3333%;
    margin-left: 20%;
  }
  
  &__tel {
    font-size: 7px;
    color: #7b7b7b;
    text-decoration: none;
  }
  
  &__contacts-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 685px;
    background: url("../img/contact-tablet-bg.jpg") 22% bottom no-repeat;
    background-size: 100%;
    
    &__wrap {
      width: 52.7344%;
      margin-left: 33.3384%;
    }
    
    &__title {
      font-size: 37.335px;
      line-height: 43.83px;
    }
    
    &__descr {
      margin-top: 15px;
      font-size: 10.35px;
      line-height: 17.945px;
    }
    
    &__tel {
      font-size: 10.35px;
    }
    
    &__contacts-wrap {
      padding-top: 58px;
    }
  }
}