.page-content {
  margin-bottom: 39px;
}

.page-content__discography {
  margin-bottom: 50px;
  padding-bottom: 174px;
  background: url("../img/discography-bg.jpg") center bottom no-repeat;
  background-size: 1000px;
  text-align: center;
}

.page-content__tours {
  margin-bottom: 54px;
  padding-bottom: 24px;
  background: url("../img/concert-tours-mobile-bg.jpg") center bottom no-repeat;
  background-size: 375px;
  text-align: center;
}

.page-content__compositions {
  margin-bottom: 55px;
  text-align: center;
}

.page-content__slider {
  margin-bottom: 27px;
}

.page-content__last-album {
  width: 51.2%;
  margin: 0 auto;
  margin-bottom: 35px;
}

.page-content__upcoming {
  margin-bottom: 5px;
  padding-left: calc(100% - 298px);
  padding-top: 29px;
  background: url("../img/events-bg.jpg") 38% top no-repeat;
  background-size: cover;
  padding-bottom: 81px;
}

.page-content__history {
  min-height: 518px;
  padding-top: 35px;
  background: url("../img/history-bg.jpg") 50% top no-repeat;
  background-size: cover;
  text-align: center;
}

@media (min-width: $tablet-width) {
  
  .page-content {
      margin-bottom: 90px;
    
    &__discography {
      margin-bottom: 75px;
      padding-bottom: 226px;
      background-size: 1127px;
    }
    
    &__tours {
      margin-bottom: 71px;
      padding-bottom: 33px;
      background-image: url("../img/concert-tours-tablet-bg.jpg");
      background-size: 769px;
    }
    
    &__compositions {
      margin-bottom: 86px;
    }
    
    &__slider {
      margin-bottom: 52px;
    }
    
    &__last-album {
      width: auto;
      margin: 0;
      margin-bottom: 93px;
      padding-left: 10.35159%;
      padding-right: 11.45833%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    &__upcoming {
      margin-bottom: 43px;
      padding-left: 41.276%;
      padding-bottom: 65px;
    }
    
    &__history {
      min-height: 794px;
    }
  }
}

@media (min-width: $desktop-width) {
  
  .page-content {
    margin-bottom: 259px;
    
    &__discography {
      margin-bottom: 154px;
      padding-bottom: 363px;
      background-size: 2000px;
    }
    
    &__tours {
      margin-bottom: 150px;
      padding-bottom: 247px;
      background-image: url("../img/concert-tours-desktop-bg.jpg");
      background-size: 2000px;
    }
    
    &__compositions {
      margin-bottom: 158px;
    }
    
    &__slider {
      margin-bottom: 165px;
    }
    
    &__last-album {
      margin: 0 auto;
      margin-bottom: 95px;
      width: 1200px;
      padding: 0;
    }
    
    &__upcoming {
      margin-bottom: 113px;
      padding-top: 202px;
      padding-bottom: 186px;
      padding-left: 0;
      background-position: top center;
      background-size: 2000px;
    }
    
    &__history {
      min-height: 1102px;
    }
  }
}