.page-content__discography {
  margin-bottom: 50px;
  padding-bottom: 174px;
  background: url("../img/discography-bg.jpg") center bottom no-repeat;
  background-size: 1000px;
  
}

.page-content__tours {
  margin-bottom: 54px;
  padding-bottom: 24px;
  background: url("../img/concert-tours-mobile-bg.jpg") center bottom no-repeat;
  background-size: 375px;
}

.page-content__compositions {
  margin-bottom: 38px;
}

.page-content__slider {
  margin-bottom: 12px;
}

.page-content__last-album {
  width: 192px;
  margin: 0 auto;
}