.section {
  text-align: center;
  
  &--text-left {
    text-align: left;
  }
  
  &__title {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 11px;
    font-family: $dosis;
    font-size: 25.25px;
    font-weight: 400;
    line-height: 29.64px;
    letter-spacing: 0.118em;
    text-transform: uppercase;
    z-index: 1;
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 251px;
      height: 1px;
      background-color: black;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
  
  &__title--discography {
    color: #876652;
  }
  
  &__title--compositions {
    color: black;
    
    &::before {
      width: 306px;
    }
  }
  
  &__title--tours {
    background-color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #779da6, #98b5ae);
    z-index: inherit;
  }
  
  &__title--upcoming {
    color: #42717e;
    
    &::before {
      width: 250px;
      left: 53%;
    }
  }
  
  &__title--history {
    color: #5b5c5a;
    
    &::before {
      width: 140px;
    }
  }
  
  &__title--contacts {
    display: block;
    color: #454545;
    margin: 0;
    
    &::before {
      width: 90.909%;
      left: 0;
      transform: none;
    }
  }
  
  &__descr {
    margin-bottom: 51px;
    padding: 0 25px;
    font-size: 7.6px;
    line-height: 12px;
    letter-spacing: 0.118em;
    color: #7a8083;
    text-align: center;
  }
  
  &__descr--compositions {
    margin-bottom: 30px;
  }
  
  &__descr--history {
    padding: 0 23px;
    margin-bottom: 0;
  }
  
  &__descr--contacts {
    margin-bottom: 3px;
    margin-top: 9px;
    padding: 0;
    letter-spacing: 0.018em;
    text-align: left;
  }
  
  &__item {
    margin-bottom: 51px;
  }
  
  &__item--video {
    margin-bottom: 22px;
  }
  
  &__item--tours {
    margin-top: 155px;
    margin-bottom: 0;
  }
  
  &__item--upcoming {
    margin-bottom: 60px;
    padding: 29px 30px 0 75px;
  }
}