.slide {
  padding: 97px 45px 79px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  
  &::before,
  &:after {
    content: "";
    position: absolute;
    width: 33.33333;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-size: 300%;
    z-index: -1;
    
  }
  
  &::before {
    left: 33.33333%;
    background-position: 50% 0;
    transition-delay: 0.2s;
  }
  
  &::after {
    left: 66.6666%;
    background-position: 100% 0;
    transition-delay: 0.4s;
  }
  
  &--1 {
    background-color: #383939;
    background-image: url("../img/note-mobile-bg.jpg");
    
    &::before,
    &::after {
      background-image: url("../img/note-mobile-bg.jpg")
    }
  }
  
  &--2 {
    background-image: url("../img/album3.jpg");
    
    &::before,
    &::after {
      background-image: url("../img/album3.jpg");
    }    
  }

  &--3 {
    background-image: url("../img/album5.jpg");
    
    &::before,
    &::after {
      background-image: url("../img/album5.jpg");
    }  
  }
  
  &__header {
    margin-bottom: 14px;
    position: relative;
    font-family: $dosis;
    font-size: 8.5px;
    line-height: 13px;
    letter-spacing: 0.118em;
    color: #ffffff;
    text-transform: uppercase;
    
    &::before {
      content: "";
      position: absolute;
      width: 64px;
      height: 14.5px;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/note.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  
  &__text {
    margin-bottom: 16px;
    padding: 0 15px;
    letter-spacing: 0.018em;
    color: #7a8083;
  }
  
  &__descr {
    color: #565e61;
  }
}

@media (min-width: $tablet-width) {
  
  .slide {
    padding: 159px 45px 119px;
    
    &--1 {
      background-image: url("../img/note-tablet-bg.jpg");
      
      &::before,
      &::after {
        background-image: url("../img/note-tablet-bg.jpg");
      }  
    }
    
    &--2 {
      background-image: url("../img/album-tablet3.jpg");
      
      &::before,
      &::after {
        background-image: url("../img/album-tablet3.jpg");
      }  
    }
    
    &--3 {
      background-image: url("../img/album-tablet5.jpg");
      
      &::before,
      &::after {
        background-image: url("../img/album-tablet5.jpg");
      }  
    }
    
    &__header {
      margin-bottom: 25px;
      font-size: 13.825px;
      line-height: 19.64px;
    
      &::before {
        top: -52px;
        width: 100px;
        height: 22px;
      }
    }
    
    &__text {
      margin-bottom: 44px;
      padding: 0 21.5%;
    }
  }
}

@media (min-width: $desktop-width) {
  
  .slide {
    padding: 213px 45px 158px;
    background-size: cover;
    
    &--1 {
      background-image: url("../img/note-desktop-bg.jpg");
      
      &::before,
      &::after {
        background-image: url("../img/note-desktop-bg.jpg");
      }  
    }
    
    &--2 {
      background-image: url("../img/album-tablet3.jpg");
      
      &::before,
      &::after {
        background-image: url("../img/album-tablet3.jpg");
      }  
    }
    
    &--3 {
      background-image: url("../img/album-tablet5.jpg");
      
      &::before,
      &::after {
        background-image: url("../img/album-tablet5.jpg");
      }  
    }
    
    &__header {
      margin-bottom: 33px;
      font-family: $dosis;
      font-size: 18.49px;
      line-height: 26.27px;
      
      &::before {
        top: -70px;
        width: 128px;
        height: 29px;
      }
    }
    
    &__text {
      margin-bottom: 58px;
      padding: 0 310px;
      font-size: 14px;
      line-height: 24.27px;
    }
    
    &__descr {
      font-size: 14px;
      line-height: 24.27px;
    }
  }
}