.slider {
  position: relative;
  
  &__controls {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
  }
  
  &__toggle {
    margin: 0 8px;
    padding: 0;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    
    &--active {
      background-color: transparent;
    }
  }
}

@media (min-width: $tablet-width) {
  
  .slider {
    
    &__controls {
      bottom: 60px;
    }
    
    &__toggle {
      margin: 0 13px;
      width: 8px;
      height: 8px;
    }
  }
}