.stats {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  
  &__item {
    display: flex;
    align-items: center;
    padding-right: 7px;
    font-size: 6px;
    color: #979898;
  }
  
  &__listening {
    padding-left: 27px;
  }
  
  &__icon {
    fill: #979898;
    padding-right: 7px;
  }
}