.stats {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  
  &__item {
    display: flex;
    align-items: center;
    padding-right: 7px;
    font-size: 6px;
    color: #979898;
  }
  
  &__listening {
    padding-left: 27px;
  }
  
  &__icon {
    fill: #979898;
    padding-right: 7px;
  }
}

@media (min-width: $tablet-width) {
  .stats {
    padding-left: 30px;
    
    &__item {
      padding-right: 15px;
      font-size: 9.66px;
    }
    
    &__item--listening .stats__icon {
      width: 10px;
      height: 12px;
    }
    
    &__item--likes .stats__icon {
      width: 12px;
      height: 10.5px;
    }
    
    &__item--downloads .stats__icon {
      width: 12px;
      height: auto;
    }
    &__item--comments .stats__icon {
      width: 12px;
      height: auto;
    }
  }
}