.video {
  position: relative;
  width: 300px;
  margin: 0 auto;
  
  &__content {
    width: 300px;
    height: 211px;
    background-repeat: no-repeat;
    background-size: 300px;
  }
  
  &__content--1 {
    background-image: url("../img/later-composition-mobile-video1.jpg");
  }
  
  &__content--2 {
    background-image: url("../img/later-composition-mobile-video2.jpg");
  }
  
  &__content--3 {
    background-image: url("../img/later-composition-mobile-video3.jpg");
  }
}

@media (min-width: $tablet-width) {
  
  .video {
    width: 100%;
    
    &__content {
      width: 100%;
      height: 41vw;
      background-size: 100%;
    }
    
    &__content--1 {
      background-image: url("../img/later-composition-tablet-video1.jpg");
    }
    
    &__content--2 {
      background-image: url("../img/later-composition-tablet-video2.jpg");
    }
  
    &__content--3 {
      background-image: url("../img/later-composition-tablet-video3.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 600px;
    height: 422px;
  }
}